:root {
  --main-font: "Urbanist", sans-serif;
  --main-color: #703BF7;
  --main-bg-color: #141414;
  --bg-color:#1A1A1A;
  --light-color: #fff;
  --dark-color: #000;
  --medium-color: #999999;
  --border-color: #262626;

}


