.way {
    display: flex;
    justify-content: space-evenly;
}
/* 1 спосіб*/
.way_1 {
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 30px solid yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px blue;

    margin: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 2 спосіб*/
.way_2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px yellow,
                0px 0px 0px 60px blue;
    margin: 80px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 3 спосіб*/
.way_3 {
    width: 130px;
    height: 130px;
    margin: 50px 50px;

    border-radius: 50%;
    background-color: white;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.way_3:before {
    content: '';
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    border: 60px solid blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.way_3:after {
    content: '';
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    border: 30px solid yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
